body {
background-color: blue;
color: white;
}

body:after {
content: "YOU HAVE BEEN HACKED BY MYBRAINCELLS.CF!";
content: "VISIT MYBRAINCELLS.CF OR MYBRAINCELLS.TK TODAY!!";
}

p {
border: 25px inset gold;
background-color: lime;
font-size: 75px;
}