body {
background-color: blue;
color: white;
}

body:after {
font-size: 125px;
content: "YOU HAVE BEEN HACKED BY MYBRAINCELLS.CF!";
}

body:after {
font-size: 125px;
content: "VISIT MYBRAINCELLS.CF OR MYBRAINCELLS.TK TODAY!!";
}

p {
border: 25px inset gold;
background-color: lime;
font-size: 75px;
}
