.mbc-red {color: red;}
.mbc-lime {color: lime;}
.mbc-black {color: black;}
.mbc-green {color: green;}
.mbc-blue {color: blue;}
.mbc-white {color: white;}
.mbc-orange {color: orange;}
.mbc-brown {color: brown;}
.mbc-lightgreen {color: lightgreen;}
.mbc-lightred {color: lightred;}
.mbc-purple {color: purple;}
.mbc-chocolate {color: chocolate;}
.mbc-cyan {color: cyan;}

.mbc-bg-red {background-color: red;}
.mbc-bg-lime {background-color: lime;}
.mbc-bg-black {background-color: black;}
.mbc-bg-green {background-color: green;}
.mbc-bg-blue {background-color: blue;}
.mbc-bg-white {background-color: white;}
.mbc-bg-orange {background-color: orange;}
.mbc-bg-brown {background-color: brown;}
.mbc-bg-lightgreen {background-color: lightgreen;}
.mbc-bg-lightred {background-color: lightred;}
.mbc-bg-purple {background-color: purple;}
.mbc-bg-chocolate {background-color: chocolate;}
.mbc-bg-cyan {background-color: cyan;}